.App {
  text-align: center;
}

.fa-brands {
  padding-right: 1rem;
}

.Typewriter {
  font-size: 70px;
  color: #E0000B;
  padding: 4rem;
}

a:hover{
  border-bottom: 2px dashed #E0000B;
} 

.MuiButtonBase-root:hover {
  border-bottom: none;
}